<div>List Profiles</div>
<div>
  <ol>
    {{#each user}}
    <li>
      <p>Username: {{this.username}} <br> Role: {{this.role}}</p>
    </li>
    </form>
    {{/each}}
  </ol>
  <a href="/formal-page">Back</a>
</div>